
/* Reset CSS */
*,
*::before,
*::after {
 padding: 0;
 margin: 0;
 border: none;

 box-sizing: border-box;
}

*::before,
*::after {
 display: inline-block;
}

a {
 text-decoration: none;
 color: inherit;
 display: inline-block;
}

li {
 list-style: none;
}

img {
 vertical-align: middle;
 max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-weight: inherit;
 font-size: inherit;
}

html,
body {
 font-family: "Roboto", sans-serif;
 line-height: 1;
 height: 100%;
}

/* FORM */
input,
button,
textarea {
 font-family: inherit;
 font-size: inherit;
 line-height: inherit;
 color: inherit;
 background-color: transparent;
}

input,
textarea {
 width: 100%;
}

button,
select,
option {
 cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
 appearance: none;
}

/* style */
.wrapper {
 min-height: 100%;
 overflow: hidden;
}

.container {
 max-width: 1220px;
 margin: 0 auto;
 padding: 0 10px;
}

.title{
 color: rgb(0, 55, 255);
 text-align: center;
 padding-top: 30px;
 margin-bottom: 20px;
 font-size: 24px;
 font-weight: 600;
}

.headeer-text{
 text-align: center;
 padding: 25px;
}

.fly-container{
 padding-bottom: 30px;
}

.plane-landed{
 background-color: rgb(0, 237, 0);
}
.delayed-landed{
 background-color: rgb(255, 0, 0);
}

.redirected-flight{
 background-color: aqua;
 font-size: 12px;
}

.canceled-flight{
 background-color: silver;
 opacity: 0.5;
}

.td-flight-logo {
 height: 35px;
 border-radius: 10px;;
}

.th-awialine{
 @media screen and (max-width: 405px) {
  font-size: 13px;
  
 }
}


table {
 max-width: 700px;
 border-collapse: collapse;
 margin: 0 auto;
}

thead>tr>th{
 padding: 15px 8px;
}

th,
td {
 border: 1px solid #ccc;
 padding: 5px 8px;
 text-align: left;
}

th {
 background-color: #f4f4f4;
}

.flightsLandedLastHour{
 text-align: center;
 display: flex;
 align-items: center;
 justify-content: center;
 margin-bottom: 20px;
 font-weight: 600;
}

.flightsLandedCount{
 background-color:rgb(0, 237, 0);
 padding: 5px;
 width: 25px;
 height: 25px;
 border-radius: 50%;
 display: inline-block;
 display: flex; 
 align-items: center;
 justify-content: center;
 margin-left: 8px;
 }

 .landed-info{
  margin-bottom: 30px;
 }

 .landed-count{
  text-align: center;
 }

 .currentHour{
  background-color: rgb(0, 237, 0);
 }

 /* graphik styles */

  .flights-chart {
   margin: 0 auto;
   max-width: 700px;
   display: flex;
   align-items: flex-end;
   gap: 8px;
   padding: 10px 5px;
   border: 1px solid #ccc;
   background: #f9f9f9;
   overflow-x: auto;
  }
 
  .bar-container {
   display: flex;
   flex-direction: column;
   align-items: center;
  }
 
  .bar {
   width: 24px;
   background-color: steelblue;
   transition: height 0.3s ease;
   border-radius: 4px 4px 0 0;
  }
 
  .bar-label {
   margin-top: 4px;
   font-size: 12px;
   color: #333;
  }

  .scheduled-flights-title{
   text-align: center;
   margin-bottom: 20px;
   font-weight: 600;
   font-size: 24px;
  }

  .scheduled-flights-section{
   padding-bottom: 40px;
  }