
/* Reset CSS */
*,
*::before,
*::after {
 padding: 0;
 margin: 0;
 border: none;

 box-sizing: border-box;
}

*::before,
*::after {
 display: inline-block;
}

a {
 text-decoration: none;
 color: inherit;
 display: inline-block;
}

li {
 list-style: none;
}

img {
 vertical-align: middle;
 max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-weight: inherit;
 font-size: inherit;
}

html,
body {
 font-family: "Roboto", sans-serif;
 line-height: 1;
 height: 100%;
}

/* FORM */
input,
button,
textarea {
 font-family: inherit;
 font-size: inherit;
 line-height: inherit;
 color: inherit;
 background-color: transparent;
}

input,
textarea {
 width: 100%;
}

button,
select,
option {
 cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
 appearance: none;
}

/* style */
.wrapper {
 min-height: 100%;
 overflow: hidden;
}

.container {
 max-width: 1220px;
 margin: 0 auto;
 padding: 0 10px;
}

.title{
 color: rgb(0, 55, 255);
 text-align: center;
 padding-top: 30px;
 margin-bottom: 20px;
 font-size: 24px;
 font-weight: 600;
}

.headeer-text{
 text-align: center;
 padding: 25px;
}

.fly-container{
 padding-bottom: 30px;
}

/* .flight-list{
 max-width: 400px;
 margin: 0 auto;
}

.flight-item {
 display: flex;
 align-items: center;
 flex-wrap: nowrap;
 
}

.flight-status {}

.flight-name {} */
.plane-landed{
 background-color: rgb(0, 237, 0);
}
.delayed-landed{
 background-color: rgb(255, 0, 0);
}

.redirected-flight{
 background-color: aqua;
 font-size: 12px;
}

.td-flight-logo {
 height: 35px;
 border-radius: 10px;;
}

.th-awialine{
 @media screen and (max-width: 405px) {
  font-size: 13px;
  
 }
}

/* .flight-airport {} */

/* fdfdfdfd */
table {
 max-width: 700px;
 border-collapse: collapse;
 margin: 0 auto;
}

thead>tr>th{
 padding: 15px 8px;
}

th,
td {
 border: 1px solid #ccc;
 padding: 5px 8px;
 text-align: left;
}

th {
 background-color: #f4f4f4;
}