
/* Reset CSS */
*,
*::before,
*::after {
 padding: 0;
 margin: 0;
 border: none;

 box-sizing: border-box;
}

*::before,
*::after {
 display: inline-block;
}

a {
 text-decoration: none;
 color: inherit;
 display: inline-block;
}

li {
 list-style: none;
}

img {
 vertical-align: middle;
 max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-weight: inherit;
 font-size: inherit;
}

html,
body {
 font-family: "Roboto", sans-serif;
 line-height: 1;
 height: 100%;
 font-weight: 600;
}

/* FORM */
input,
button,
textarea {
 font-family: inherit;
 font-size: inherit;
 line-height: inherit;
 color: inherit;
 background-color: transparent;
}

input,
textarea {
 width: 100%;
}

button,
select,
option {
 cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
 appearance: none;
}

/* style */
.wrapper {
 min-height: 100%;
 overflow: hidden;
}

.container {
 max-width: 1220px;
 margin: 0 auto;
 padding: 0 10px;
}

.title{
 color: rgb(0, 55, 255);
 text-align: center;
 font-size: 24px;
 font-weight: 700;
}

.title-dark-thime{
 color: #FFF;
}

.logo{
 width: 30px;
 height: 30px; 
 margin-right: 3px;
 border-radius: 10px;
}

.title-wrapper{
 padding-top: 30px;
 display:flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 margin-bottom: 20px;
}

.headeer-text{
 text-align: center;
 padding: 25px;
}

.fly-container{
 padding-bottom: 30px;
}

.plane-landed{
 background-color: rgb(0, 237, 0);
}
.delayed-landed{
 background-color: rgb(255, 0, 0);
}

.redirected-flight{
 background-color: aqua;
 font-size: 12px;
}

.canceled-flight{
 background-color: silver;
 opacity: 0.5;
}

.dark-status{
  color: #121212;
}

.td-flight-logo {
 height: 35px;
 border-radius: 10px;;
}

.th-awialine{
 @media screen and (max-width: 405px) {
  font-size: 13px;
  
 }
}


table {
 max-width: 700px;
 border-collapse: collapse;
 margin: 0 auto;
}

thead>tr>th{
 padding: 15px 8px;
 color:#121212
}

th,
td {
 border: 1px solid #ccc;
 padding: 5px 8px;
 text-align: left;
}

th {
 background-color: #f4f4f4;
}

.flightsLandedLastHour{
 text-align: center;
 display: flex;
 align-items: center;
 justify-content: center;
 margin-bottom: 20px;
 font-weight: 600;
}

.flightsLandedCount{
 background-color:rgb(0, 237, 0);
 padding: 5px;
 width: 25px;
 height: 25px;
 border-radius: 50%;
 display: inline-block;
 display: flex; 
 align-items: center;
 justify-content: center;
 margin-left: 8px;
 }

 .landed-info{
  margin-bottom: 30px;
 }

 .landed-count{
  text-align: center;
 }

 .landed-count-dark{
  color:#121212
 }

 .landed-wrapper{
  margin: 0 auto;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  padding: 5px;
  
 }

 .landed-wrapper-landed{
  background-color: rgb(0, 237, 0);
 }

 .currentHour{
  background-color: rgb(214, 214, 214);
 }

 /* graphik styles */

  .flights-chart {
   margin: 0 auto;
   max-width: 700px;
   display: flex;
   align-items: flex-end;
   gap: 8px;
   padding: 10px 5px;
   border: 1px solid #ccc;
   background: #f9f9f9;
   overflow-x: auto;
  }
 
.dark {
 background: #acacac;
}

  .bar-container {
   display: flex;
   flex-direction: column;
   align-items: center;
  }
 
  .bar {
   width: 24px;
   background-color: steelblue;
   transition: height 0.3s ease;
   border-radius: 4px 4px 0 0;
  }
 
  .bar-label {
   margin-top: 4px;
   font-size: 14px;
  }

  .scheduled-flights-title{
   text-align: center;
   margin-bottom: 20px;
   font-weight: 600;
   font-size: 24px;
  }

  .scheduled-flights-section{
   padding-bottom: 40px;
  }

  .terminal-Info{
   font-weight: 600;
   margin-top: 5px;
  }

/* тема чекбокс */

  .checkbox-wrapper{
   display: flex;
   max-width: 340px;
   padding-bottom: 10px;
  }

    /* Контейнер */
    .switch {
     position: relative;
     display: inline-block;
     width: 40px;
     height: 20px;
    }
  
    /* Скрываем стандартный checkbox */
    .switch input {
     opacity: 0;
     width: 0;
     height: 0;
    }
  
    /* Ползунок */
    .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     /* background-color: #ccc; */
     background-color: #4a90e2;
     border-radius: 20px;
     transition: 0.3s;
    }
  
    /* Кругляшок */
    .slider::before {
     position: absolute;
     content: "";
     height: 15px;
     width: 15px;
     left: 3px;
     bottom: 3px;
     background-color: #FFF;
     border-radius: 50%;
     transition: 0.3s;
    }
  
    /* Когда чекбокс активен */
body.dark-theme {
 background-color: #6c6c6c;
 color: #f1f1f1;
}

    input:checked+.slider {
     background-color: #4a90e2;
    }
  
    input:checked+.slider::before {
     transform: translateX(19px);
    }

    .checkbox-img{
     width: 20px;
     height: 20px;
     margin-right: 5px;
     fill: #4a90e2;
    }

    .checkbox-img-cheked{
     fill: #efff13
    }